  <!-- フッター -->
  <footer>
      <!-- <h4>サイト情報</h4> 必要な時点で表示 -->
      <ul>
        <li><a href="{{ site.baseurl }}/terms.html">利用規約</a></li>
        <li><a href="{{ site.baseurl }}/privacy.html">プライバシーポリシー</a></li>
        <li><a href="{{ site.baseurl }}/contact/index.html">お問い合わせ</a></li>
      </ul>
    <p>&copy; 2025 神納東区 自治会</p>
  </footer>

  <!-- ページ内 画像制御：モーダル -->
  <div id="modal" class="modal">
  <!-- 上部の × 閉じる -->
   <div class="modal-close-top">
     <span onclick="closeModal()">× 閉じる</span>
   </div>
  <!-- 表示画像 -->
   <img id="modalImage" src="" alt="拡大画像">
  <!-- 拡大リンク -->
   <div class="modal-link">
     <a id="enlargeLink" href="#" target="_blank">▶ さらに拡大表示</a>
   </div>
  <!-- 下部の ✖ 閉じる -->
   <div class="modal-close-bottom">
     <span onclick="closeModal()">✖ 画像を閉じる</span>
   </div>
  </div>