<header>
<div class="logo-wrapper top-logo">
  <img src="{{ '/images/logo.png' | relative_url }}" alt="神納東区ロゴ">
<h1>神納東区</h1>
</div>
 <p class="small-text" style="text-align: right; line-height: 1.2; margin: 0;">神納東区 の回覧板・お知らせ</p>
  <nav>
    <ul>
      <li><a href="{{ '/kairan/index.html' | relative_url }}">回覧板</a></li>
      <li><a href="{{ '/bohan/index.html' | relative_url }}">防災・防犯</a></li>
      <li><a href="{{ '/events/index.html' | relative_url }}">イベント情報</a></li>
      <li><a href="{{ '/history/index.html' | relative_url }}">神納東区の歴史</a></li>
      <li><a href="{{ '/contact/index.html' | relative_url }}">お問い合わせ</a></li>
    </ul>
  </nav>
</header>
<div class="announcement area line-height-1">
  {% comment %}
    _data/announcements.yml からのお知らせデータを取得
    有効期間内のおしらせをフィルタリング
    最新の2つを表示する
  {% endcomment %}
  
  {% assign now = "now" | date: "%Y-%m-%d" %}
  {% assign all_announcements = site.data.announcements %}
  {% assign visible_announcements = "" | split: ',' %}

  {% for announcement in all_announcements %}
    {% if announcement.start_date %}
      {% assign start_date = announcement.start_date | date: "%Y-%m-%d" %}
      {% if announcement.end_date %}
        {% assign end_date = announcement.end_date | date: "%Y-%m-%d" %}
        {% if now >= start_date and now <= end_date %}
          {% assign visible_announcements = visible_announcements | push: announcement %}
        {% endif %}
      {% else %}
        {% if now >= start_date %}
          {% assign visible_announcements = visible_announcements | push: announcement %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% assign sorted_announcements = visible_announcements | sort: "start_date" | reverse %}
  
  {% for announcement in sorted_announcements limit: 4 %}
    <div class="announcement-text">
      <p>【お知らせ】{{ announcement.content }}<a href="{{ announcement.link_url | relative_url }}">{{ announcement.link_text }}</a></p>
    </div>
  {% endfor %}
</div>