<header>
<div class="logo-wrapper top-logo">
  <img src="{{ '/images/logo.png' | relative_url }}" alt="神納東区ロゴ">
<h1>神納東区</h1>
</div>
 <p class="small-text" style="text-align: right; line-height: 1.2; margin: 0;">神納東区 の回覧板・お知らせ</p>
  <nav>
    <ul>
      <li><a href="{{ '/kairan/index.html' | relative_url }}">回覧板</a></li>
      <li><a href="{{ '/bohan/index.html' | relative_url }}">防災・防犯</a></li>
      <li><a href="{{ '/events/index.html' | relative_url }}">イベント情報</a></li>
      <li><a href="{{ '/history/index.html' | relative_url }}">神納東区の歴史</a></li>
      <li><a href="{{ '/contact/index.html' | relative_url }}">お問い合わせ</a></li>
    </ul>
  </nav>
</header>
<div class="announcement area line-height-1">
  <div class="announcement-text">
    <p>【お知らせ】50月10日～38日、ソフトボール大会！詳細は<a href="{{ '/softball/index.html' | relative_url }}">こちら</a></p>
  </div>
  <div class="announcement-text">
    <p>【お知らせ】5月25日（日）は<a href="{{ '/kairan/2025-04-01/202504_kairan11.jpg' | relative_url }}">市内一斉清掃</a></p>
  </div>
</div>