<header>
  <div class="logo-wrapper sub-logo">
    <a href="{{ '/' | relative_url }}">
      <img src="{{ '/images/logo.png' | relative_url }}" alt="神納東区ロゴ">
    </a>
  </div>
  <nav>
    <ul>
      <!-- ホームは削除 -->
        <li><a href="{{ '/kairan/index.html' | relative_url }}">回覧板</a></li>
        <li><a href="{{ '/bohan/index.html' | relative_url }}">防災・防犯</a></li>
        <li><a href="{{ '/events/index.html' | relative_url }}">イベント情報</a></li>
        <li><a href="{{ '/history/index.html' | relative_url }}">永久保存リスト</a></li>
        <li><a href="{{ '/contact/index.html' | relative_url }}">お問い合わせ</a></li>
    </ul>
  </nav>
</header>
  <p class="small-text" id="page-desc"></p>