<header>
<div class="logo-wrapper top-logo">
  <img src="{{ '/images/logo.png' | relative_url }}" alt="神納東区ロゴ">
<h1>神納東区 自治会 情報</h1>
</div>
 <p class="small-text" style="text-align: right; line-height: 1.2; margin: 0;">神納東区 自治会のお知らせ・回覧板まとめ</p>
  <nav>
    <ul>
      <li><a href="{{ '/kairan/index.html' | relative_url }}">回覧板</a></li>
      <li><a href="{{ '/bohan/index.html' | relative_url }}">防災・防犯</a></li>
      <li><a href="{{ '/events/index.html' | relative_url }}">イベント情報</a></li>
      <li><a href="{{ '/history/index.html' | relative_url }}">神納東区の歴史</a></li>
      <li><a href="{{ '/contact/index.html' | relative_url }}">お問い合わせ</a></li>
    </ul>
  </nav>
</header>