<header>
  <div class="logo-wrapper sub-logo">
    <a href="{{ '/' | relative_url }}">
      <!-- ホームの代わりにロゴからリンク -->
      <img src="{{ '/images/logo.png' | relative_url }}" alt="神納東区ロゴ">
    </a>
  </div>
  <nav>
    <ul>
      <!-- ホームは削除 -->
        <li><a href="{{ '/kairan/index.html' | relative_url }}">回覧板</a></li>
        <li><a href="{{ '/bohan/index.html' | relative_url }}">防災・防犯</a></li>
        <li><a href="{{ '/events/index.html' | relative_url }}">イベント情報</a></li>
        <li><a href="{{ '/history/index.html' | relative_url }}">神納東区の歴史</a></li>
        <li><a href="{{ '/contact/index.html' | relative_url }}">お問い合わせ</a></li>
    </ul>
  </nav>
</header>
  <p class="small-text" id="page-desc"></p>
  <!-- お知らせ部分 -->
  <!-- <div class="announcement area line-height-1">
    <div class="announcement-text">
      <p>【お知らせ】5月100日～103日、神納東区ソフトボール大会！詳細は<a href="{{ '/softball/index.html' | relative_url }}">こちら</a></p>
    </div>
    <div class="announcement-text">
      <p>【お知らせ】5月25日（日）は市内一斉清掃詳細　<a href="{{ '/kairan/2025-04-01/202504_kairan11.jpg' | relative_url }}">こちら</a></p>
    </div>
  </div> -->